@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --font-padrao:'Fredoka', sans-serif;
    
    --corLaranja:   #F05A22;
    --corAmarelo:   #ffbb00;
    --corAzul:      #11C2C6;
    --corMarrom:    #683900;
    --corCreme:     #fff7c4;
    --corBranca:    #ffffff;

}
body {
    font-family: var(--font-padrao);
}

header {
    width: 100vw;
    height: 100vh;
    background-color: var(--corAmarelo);
    background-image: url(../images/img-principal.png);
    background-repeat: no-repeat;
    background-size: contain;
       
}
           
               
.logo{
    height: 10vw;
    margin-top: 30px;
    margin-left: 80px;
  
    
}

h1{
    font-size: 7em;
    font-weight: 500;
    line-height: 1.0em;
    
}

h2{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.0em;
    color: var(--corBranca);
  
}

.h2-positivo{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.0em;
    color: var(--corAzul);
    
  
}

h3{
    font-size: 2em;
    font-weight: 200;
    color: var(--corLaranja);

}

h4{
    font-size: 1.6em;
    font-weight: 400;
    color: var(--corBranca);

}

.h4-positivo {
    color: var(--corLaranja);

}

h5{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--corBranca);

}

h6{
    font-size: 1.1em;
    font-weight: 300;
    color: var(--corBranca);

}

.titulo-principal{
    width: 70vw;
    margin-left: 90px;
    margin-top: 50px;
    color: var(--corLaranja);
}

.subtitulo-principal{
    margin-left: 90px;
    color: var(--corLaranja);

}

.tarja{
    background-color: var(--corAzul);
    display: flex;
    justify-content: center;
    

}

.itens-tarja{
    width: 70vw;
    height: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    flex-wrap: wrap;
   
}



.receita{
    width: 100vw;
    background-color: var(--corCreme);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    

}

.galeria-receitas{
    width: 100vw;
    margin-bottom: 30px;    
    padding-top: 80px;
    
}

.galeria-receitas > img{
    margin: 10px;
}

.banner > img{
    width: 100vw;
    margin-bottom: -5px;
        

}

.tamanhos {
    width: 100vw;
    height: 700px;
    padding-top: 80px;
    background-color: var(--corAmarelo);
    color: var(--corLaranja);
    text-align: center;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items: center;

}



.tipos{
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbo{
    height: 350px;
    margin-bottom: 20px;
}

.extra {
    height: 300px;
    margin-bottom: 20px;
}

.grande{
    height: 250px;
    margin-bottom: 20px;
}




.instagram {
    width: 100vw;
    height: 700px;
    background-color: var(--corCreme);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.texto-insta{
    padding-top: 80px;
    text-align: center;
    
}

.galeria-instagram{
    width: 80vw;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.img-insta{
    margin: 10px;

}

.loja{
    width: 100vw;
    background-color: var(--corAzul);
    display: flex;
    justify-content: center;

}

.galeria-loja{
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-right: 25px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.img-loja{
    margin: 10px;

}
    
.enderecos {
    background-color: var(--corAzul);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
       
}

footer {
    width: 100vw;
    height: 400px;
    background-color: var(--corLaranja);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

footer > h2{
    margin-top: 80px;
    margin-bottom: 50px;
}

.botao {
    
    background-color: var(--corAmarelo);
    border: 1px solid var(--corLaranja );
    border-radius: 50px;
    font-family: var(--font-padrao);
    font-weight: 400;
    font-size: 1.5em;
    color: var(--corLaranja);
    padding:  20px 80px;
    margin-bottom: 100px;
    
  
    
}

.linha-direitos {
    width: 100vw;
    background-color: #c94a1b;
    text-align: center;
    padding: 20px;
}




