@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font-padrao:'Fredoka', sans-serif;
    
    --corLaranja:   #F05A22;
    --corAmarelo:   #ffbb00;
    --corAzul:      #11C2C6;
    --corMarrom:    #683900;
    --corCreme:     #fff7c4;
    --corBranca:    #ffffff;

}
body {
    font-family: var(--font-padrao);
}

header {
    width: 100vw;
    height: 95vh;
    background-image: url(/images/img-header.png);         
   
}

.container{
                 
                
}

.logo{
  
    
}

.ovo1 {
  
    
}

.ovo2{
    
    

}

h1{
    
    font-size: 10em;
    font-weight: 500;
    line-height: 1.0em;
    margin-left: 70px;
    margin-top: 20px;
    color: var(--corLaranja);


}
h2{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.0em;
    margin-left: 70px;
    margin-top: 20px;
    color: var(--corLaranja);
    

}

h3{
    font-size: 2em;
    font-weight: 200;
    line-height: 1.0em;
    margin-left: 70px;
    margin-top: 20px;
    color: var(--corLaranja);



.tarja{
    width: 100vw;
    height: 50px;
    background-color: var(--corAzul);
    display: flex;
    
}

.enderecos{

}

.receitas{

}

.banner {

}

.tamanhos {

}

.instagram {
   
   
}

.texto {

}

.


