@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --font-padrao:'Fredoka', sans-serif;
    
    --corLaranja:   #F05A22;
    --corAmarelo:   #ffbb00;
    --corAzul:      #11C2C6;
    --corAzulClaro: #7decee;
    --corMarrom:    #683900;
    --corCreme:     #fff7c4;
    --corBranca:    #ffffff;

}
body {
    font-family: var(--font-padrao);
}

        
               
h1{
    font-weight: 500;
    line-height: 1.0em;
    
}

h2{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.0em;
    line-height: 1.2em;
    color: var(--corBranca);
  
}

.h2-positivo{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;
    color: var(--corLaranja);
    
  
}

.cor-laranja {
    color: var(--corLaranja);
}

h3{
    font-size: 2em;
    font-weight: 200;
    color: var(--corLaranja);

}

.h3-negativo{
    font-size: 2em;
    font-weight: 200;
    color: var(--corBranca);

}

h4{
    font-size: 1.6em;
    font-weight: 400;
    color: var(--corBranca);

}

.h4-positivo {
    color: var(--corLaranja);

}

h5{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--corBranca);

}

h6{
    font-size: 1.1em;
    font-weight: 300;
    color: var(--corBranca);

}

p {
    font-family: var(--font-padrao);
    font-size: 1.3em;
    font-weight: 300;

}

header {
    width: 100vw;
    min-height: 90vh;
    background-color: var(--corAmarelo);
    
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;    
    height: 100%;
}

.main-image{

}


.social{
    display: flex;
    width: 70vw;
    justify-content: end;
    padding-top: 30px;
}

.img-social{
    margin-right: 10px;
}

.logo{
    max-width: 130px;
    padding-top: 10px;
    padding-left: 20px;

}

.principal {
    padding: 60px 50px 0px 50px ;
    width: 50vw;
       
}

.titulo-principal{
    width: 500px;
    font-size: 2.0em;
    margin-bottom: 20px;
    color: var(--corLaranja);
}

.subtitulo-principal{
    font-size: 1.8em;

    color: var(--corLaranja);

}

.tarja{
    background-color: var(--corAzul);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.ovo-tarja{
    max-width: 6.0vw;
    max-height: 100px;
    margin-left: 15px;
    margin-right: 15px;

}
.itens-tarja{
    background-color: var(--corAzul);
    max-width: 70vw;
    max-height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    word-spacing: 50px;
    
   
}



.receita{
    width: 100vw;
    background-color: var(--corCreme);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    

}

.galeria-receitas{
    width: 100vw;
    margin-bottom: 30px;    
    padding-top: 30px;
    
}

.galeria-receitas > img{
    margin: 10px;
}

.texto-receitas{
   width: 90vw;
   padding-left: 50px;
   padding-right: 50px;
   margin-top: 60px;
}

.texto-receitas > h3{
    margin-bottom: 20px;
    margin-top: 20px;
}


.banner > img{
    width: 100vw;
    margin-bottom: -5px;
        

}

.tamanhos {
    width: 100vw;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px ;
    background-color: var(--corAmarelo);
    color: var(--corLaranja);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.tipos{
    width: 70vw;
    background-color: var(--corAmarelo);

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;
}

.jumbo{
    height: 350px;
    margin-bottom: 20px;
}

.extra {
    height: 300px;
    margin-bottom: 20px;
    margin-top: 30px;

}

.grande{
    height: 250px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.texto-ovos {
    width: 70vw;
    margin-top: 20px;
}




.instagram {
    width: 100vw;
    background-color: var(--corCreme);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.texto-insta {
    width: 70vw;
    padding-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.texto-insta > h3{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}

.galeria-instagram{
    width: 80vw;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.img-insta{
    margin: 10px;

}

.loja{
    width: 100vw;
    background-color: var(--corAzul);
    

}

.texto-loja{
    width: 100vw;
    background-color: var(--corAzul); 
    margin: auto;       
 }

 .texto-loja-itens{
    width: 70vw;
    padding-top: 50px;
    text-align: center;
    margin: auto; 

 }

 .texto-loja-itens > h2{
   margin-bottom: 30px;
 }

.galeria-lojas{
    width: 100vw;
    background-color: var(--corAzul);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.galeria-lojas > img {
max-width: 500px;    
padding: 10px;
}

    
.enderecos {
    background-color: var(--corAzul);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
       
}

footer {
    width: 100vw;
    background-color: var(--corLaranja);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

footer > h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;

}

.botao {
    
    background-color: forestgreen;
    border: 2px solid var(--corBranca );
    border-radius: 50px;
    font-family: var(--font-padrao);
    font-weight: 300;
    font-size: 1.5em;
    color: var(--corBranca);
    padding:  20px 50px;
    margin-bottom: 100px;
    
}


.botao:hover {
    
    background-color: rgb(27, 107, 27);
        
}


.linha-direitos {
    width: 100vw;
    background-color: #c94a1b;
    text-align: center;
    padding: 20px;
}




